<footer class="footer">
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
      <ul  class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link footer-titulo" rel="tooltip" title="Página de la fisi" data-placement="bottom" href="http://sistemas.unmsm.edu.pe/fisi/" target="_blank">
            F.I.S.I
          </a>
          </li>
          <li class="nav-item">
          <a class="nav-link footer-titulo" rel="tooltip" title="Página Biblioteca FISI" href="http://sistemas.unmsm.edu.pe/biblioteca/" target="_blank">
            Acerca
          </a>
          </li>
      </ul >
    </nav>
    <div class="copyright float-right" id="copyright">
      &copy;
      <script>
         document.write(new Date().getFullYear())
      </script>, Diseñado <i class="material-icons">favorite</i> por
      <a class="developers footer-creditos" href="https://www.facebook.com/oficialfisiunmsm/">Trick Reading</a>
    </div>
  </div>
</footer>
